
//small tablets
$screen-sm-min : 576px;
$screen-md-min : 768px;
$screen-lg-min : 992px;
$screen-xl-min : 1200px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}
body{
    background-color: rgb(63, 240, 240);
    height: 900px;
    font-family: Source Sans Pro;
}
.mobile-nav{
    position: absolute;
    top:0;
    padding-top:20vh;
    right: 100%;
    z-index: 100;
    background-color: #5132C0;
    width: 100%;
    height: 100vh;
    transition: 0.4s;
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
main{
    position: relative;
    width: 100%;
    height: 502px;
    @include sm {
        height: 750px
    }
    margin: 0 auto;
    max-width: 1440px;
    .lower{position: absolute;
        display: none;
        @include sm {
            display: block;
            height: 750px;
            object-fit: cover;
        }
        
    }
    .lower-mobile{position: absolute;
        height: 502px;
        
        @include sm {
            display: none
        }
        
    }
    .upper{position: absolute;
        display: none;
        @include sm {
            height: 750px;
            display: block;
            object-fit: cover;
        }
        
        z-index:1
    }
    
    .upper-mobile{position: absolute;
        height: 502px;
        @include sm {
            display: none
        }
        z-index:1
    }
    .nave{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 100;
        color: white;
        .logo{
            font-weight: bolder;
            h2{
                font-weight: bolder;
                font-size: 18px !important;
                span{
                color: #5132C0;
                font-weight: bolder;
                }
            }
        }
        .close {
            .line1{
             transform: rotate(-45deg) translate(-5px, 6px) !important;
             z-index:100 !important;
             background-color: #FFFFFF !important
             } 
         }
         .close {
                .line2{
                opacity: 0
            }
        }
        .close {
            .line3{
            transform: rotate(45deg) translate(-6px, -7px);
            }
        }
        
        .mobile{
            margin-top: -15px;
            transform: rotate(180deg);
            .line1{
                width: 24px;
                height: 3px;
                
                background-color: #FFFFFF;
                margin-bottom: 6px;
                
                transition: 0.4s;
            }
            
            
            .line2{
                width: 18px;
                height: 3px;
                margin-bottom: 6px;
                
                transition: 0.4s;
                background-color: #FFFFFF;
            }
            
             
            .line3{
                width: 24px;
                height: 3px;
                transition: 0.4s;
                margin-bottom: 6px;

                
                background-color: #FFFFFF;
            }
            
        }
        .Big-nav{
            li{
                list-style-type: none;
                float: left;
                @include sm {
                    margin-left: 20px
                }
                @include md{
                    margin-left: 40px
                }
                @include lg{
                    margin-left: 55px
                }
                a{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 23px;
                    /* identical to box height */


                    color: #FFFFFF;
                    text-decoration: none;
                    @include sm{
                        font-size: 14px;

                    }
                    @include md {
                        font-size: 18px
                    }
                }
            }
        }

    }
    .hero-text{
        position: absolute;
        top:250px;
        color: white;
        transform: translate(-50%,-50%);
        display: flex;
        left: 50%;
        @include sm {
            top:400px;
        }
        max-height: 500px !important;
        width: 100%;
        background-color: transparent;
        z-index: 10;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            span{
                font-weight: bolder
            }
            @media (max-width:290px) {
                font-size: 18px
            }
            @include sm{
                font-size: 48px
            }
            margin: 0;
            padding: 0;
            color: #FFFFFF;
        }
        .stroke-text{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            padding: 0;
            margin: 0;
            font-size: 36px;
            @media (max-width:290px) {
                font-size: 25px
            }
            @include sm {
                font-size: 40px;
                line-height: 91px;
            }
            @include md {
                font-size: 60px
            }

            @include xl {
                font-size: 72px
            }
            span{
                -webkit-text-stroke: 1px white;
                -webkit-text-fill-color: transparent;
                font-family: Source Sans Pro;
            }
            
        }
        h5{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            @include sm {
                font-size: 18px
            }
            text-align: center;
            letter-spacing: 0.5em;
            color: #FFFFFF;
            margin-bottom: 40px;
        }
        p{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            @media (max-width:290px) {
                font-size: 14px
            }
            @include sm{
                font-size: 24px
            }
            text-align: center;
            line-height: 30px;
            margin-bottom: 20px;
            color: #FFFFFF;
        }
        button{
            height: 40px;
            padding:8px 20px;
            background-color: #5132C0;
            color: white;
            font-size: 14px;
            border:none;
            @include sm {
                font-size: 24px;
                height: 60px
            }
            margin-bottom: 20px
        }
        .icons{
            min-height: 50px !important;
            img{
                font-size: 21px !important;
                height: 21px !important;
                margin-right: 20px;
                margin-top: 20px
            }
        }

        .floating-img{
            position: absolute;
            top: 425px;
            left: 49.9%;
            width: 90px;
            @media (max-width:290px) {
                top: 400px;
            }
            @include sm {
                width: 220px;
                top:540px;
            }
            @include md {
                width: 220px;
                top:540px
            }
            @include lg{
                top:540px
            }
            transform: translate(-50%,-50%)
        }
    }
}
.name{
    padding-top: 50px;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: normal;
    span{
        font-weight: bolder;
    }
    @include sm{
        padding-top: 120px;
        font-size: 24px
    }
}
.profile-text{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    p {margin-bottom: 12px;
        font-size: 18px;
        line-height: 23px;
        color: #3E3E3E;
        @include md{
            width: 60% !important;
        }
    }
    .poster{
        position: absolute;
        top: 14%;
        left:0;
        font-size: 64px;
        font-weight: normal;
        
        @include sm {
            font-size: 90px;
        }
        @include md {
            top:7%;
            font-size: 120px;
        }
        @include lg {
            font-size: 144px;
        }
        -webkit-text-stroke: 1px #5132C0;
                -webkit-text-fill-color: transparent;
                font-family: Source Sans Pro;
    }
}
