body, html {
  font-family: Source Sans Pro;
  scroll-behavior: smooth;
  margin: 0 auto;
  max-width: 1440px;
}

@-webkit-keyframes filli {
  to {
    fill: red;
  }
}

@keyframes filli {
  to {
    fill: red;
  }
}

.loader {
  position: fixed;
  width: 100%;
  background-color: #5132C0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.mainn {
  display: none;
}

@media (max-width: 576px) {
  .scrolly-mob {
    background-color: #FFFFFF !important;
    color: black !important;
    position: fixed !important;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .scrolly-mob .logo {
    color: black !important;
  }
  .scrolly-mob .logo h2 {
    color: black !important;
  }
  .scrolly-mob .logo h2 span {
    color: #5132C0;
  }
  .scrolly-mob .mobile .line1, .scrolly-mob .mobile .line2, .scrolly-mob .mobile .line3 {
    background-color: #3E3E3E !important;
  }
}

.scrolly {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 576px) {
  .scrolly {
    background-color: #FFFFFF !important;
    color: black !important;
    position: fixed !important;
    max-width: 1440px;
    margin: 0 auto;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .scrolly .Big-nav a {
    color: black !important;
  }
  .scrolly .logo {
    color: black !important;
  }
  .scrolly .logo h2 {
    color: black !important;
  }
  .scrolly .logo h2 span {
    color: #5132C0;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 20vh;
  right: 100%;
  z-index: 8;
  background-color: #5132C0;
  width: 100%;
  height: 100vh;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mobile-nav ul {
  padding: 0;
  margin: 0;
}

.mobile-nav ul li {
  list-style: none;
}

.mobile-nav ul li a {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fil {
  from {
    fill: transparent;
  }
  to {
    fill: #5132C0;
  }
}

@keyframes fil {
  from {
    fill: transparent;
  }
  to {
    fill: #5132C0;
  }
}

main {
  position: relative;
  width: 100%;
  height: 502px;
  margin: 0 auto;
  max-width: 1440px;
}

@media (min-width: 576px) {
  main {
    height: 750px;
  }
}

main .lower {
  position: absolute;
  display: none;
}

@media (min-width: 576px) {
  main .lower {
    display: block;
    height: 750px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

main .lower-mobile {
  position: absolute;
  height: 502px;
}

@media (min-width: 576px) {
  main .lower-mobile {
    display: none;
  }
}

main .upper {
  position: absolute;
  display: none;
  z-index: 1;
}

@media (min-width: 576px) {
  main .upper {
    height: 750px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

main .upper-mobile {
  position: absolute;
  height: 502px;
  z-index: 1;
}

@media (min-width: 576px) {
  main .upper-mobile {
    display: none;
  }
}

main .nave {
  position: absolute;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
  padding-top: -10px;
  background-color: transparent;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  color: white;
}

main .nave .logo {
  font-weight: bolder;
  z-index: 100;
}

main .nave .logo h2 {
  color: white;
  font-weight: bolder;
  font-size: 18px !important;
}

main .nave .logo h2 span {
  color: #5132C0;
  font-weight: bolder;
}

@media (max-width: 576px) {
  main .nave .logo h2 .small-open {
    color: white !important;
  }
}

main .nave .close .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px) !important;
          transform: rotate(-45deg) translate(-5px, 6px) !important;
  z-index: 100 !important;
}

main .nave .close .line2 {
  opacity: 0;
}

main .nave .close .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
          transform: rotate(45deg) translate(-6px, -7px);
}

main .nave .mobile {
  margin-top: -15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .nave .mobile .line1 {
  width: 24px;
  height: 3px;
  background-color: white;
  margin-bottom: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main .nave .mobile .line2 {
  width: 18px;
  height: 3px;
  margin-bottom: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: white;
}

main .nave .mobile .line3 {
  width: 24px;
  height: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 6px;
  background-color: white;
}

main .nave .Big-nav li {
  list-style-type: none;
  float: left;
}

@media (min-width: 576px) {
  main .nave .Big-nav li {
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  main .nave .Big-nav li {
    margin-left: 40px;
  }
}

@media (min-width: 992px) {
  main .nave .Big-nav li {
    margin-left: 55px;
  }
}

main .nave .Big-nav li a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: white;
  text-decoration: none;
}

@media (min-width: 576px) {
  main .nave .Big-nav li a {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  main .nave .Big-nav li a {
    font-size: 18px;
  }
}

main .hero-text {
  position: absolute;
  top: 250px;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  max-height: 500px !important;
  width: 100%;
  background-color: transparent;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  main .hero-text {
    top: 400px;
  }
}

main .hero-text h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

main .hero-text h3 span {
  font-weight: bolder;
}

@media (max-width: 290px) {
  main .hero-text h3 {
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  main .hero-text h3 {
    font-size: 48px;
  }
}

main .hero-text .stroke-text {
  font-family: Source Sans Pro;
  font-style: bold;
  margin: 0;
  font-weight: bolder;
  font-size: 36px;
}

@media (max-width: 290px) {
  main .hero-text .stroke-text {
    font-weight: normal;
    padding: 0;
    font-size: 25px;
  }
}

@media (min-width: 576px) {
  main .hero-text .stroke-text {
    font-size: 40px;
    line-height: 91px;
  }
}

@media (min-width: 768px) {
  main .hero-text .stroke-text {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  main .hero-text .stroke-text {
    font-size: 62px;
  }
}

@media (min-width: 1200px) {
  main .hero-text .stroke-text {
    font-size: 72px;
  }
}

main .hero-text .stroke-text span #svg {
  width: 90vw;
}

@media (min-width: 576px) {
  main .hero-text .stroke-text span #svg {
    width: 360px;
  }
}

@media (min-width: 768px) {
  main .hero-text .stroke-text span #svg {
    width: 430px;
  }
}

@media (min-width: 992px) {
  main .hero-text .stroke-text span #svg {
    width: 550px;
  }
}

@media (min-width: 1200px) {
  main .hero-text .stroke-text span #svg {
    width: 100%;
  }
}

main .hero-text h5 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  color: #FFFFFF;
  margin-bottom: 40px;
}

@media (min-width: 576px) {
  main .hero-text h5 {
    font-size: 18px;
  }
}

main .hero-text p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

@media (max-width: 290px) {
  main .hero-text p {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  main .hero-text p {
    font-size: 24px;
  }
}

main .hero-text a {
  height: 40px;
  padding: 8px 20px;
  background-color: #5132C0;
  color: white;
  font-size: 14px;
  border: none;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  main .hero-text a {
    font-size: 24px;
    height: 60px;
  }
}

main .hero-text a button {
  background-color: transparent;
  color: white;
  border: none;
}

main .hero-text a button:focus, main .hero-text a button:target {
  outline: none;
}

main .hero-text .icons {
  min-height: 50px !important;
}

main .hero-text .icons img {
  font-size: 21px !important;
  height: 21px !important;
  margin-right: 20px;
  margin-top: 20px;
}

main .hero-text .floating-img {
  position: absolute;
  top: 425px;
  left: 49.9%;
  width: 90px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 290px) {
  main .hero-text .floating-img {
    top: 400px;
  }
}

@media (min-width: 576px) {
  main .hero-text .floating-img {
    width: 220px;
    top: 540px;
  }
}

@media (min-width: 768px) {
  main .hero-text .floating-img {
    width: 220px;
    top: 540px;
  }
}

@media (min-width: 992px) {
  main .hero-text .floating-img {
    top: 540px;
  }
}

.name {
  padding-top: 50px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: normal;
}

.name span {
  font-weight: bolder;
}

@media (min-width: 576px) {
  .name {
    padding-top: 120px;
    font-size: 24px;
  }
}

#about {
  margin-bottom: 100px;
  position: relative;
}

@media (min-width: 768px) {
  #about {
    margin-bottom: 100px !important;
  }
}

#about .profile-text {
  margin-top: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#about .profile-text p {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 23px;
  color: #3E3E3E;
}

@media (min-width: 768px) {
  #about .profile-text p {
    width: 60% !important;
  }
}

#about .profile-text .poster {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  #about .profile-text .poster {
    top: 0;
  }
}

#about .profile-text button {
  width: 214px;
  padding: 7px 35px;
  background-color: transparent;
  border-style: none;
  margin-top: 20px;
  border: 1px solid #5132C0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #5132C0;
}

@media (min-width: 768px) {
  #about .profile-text button {
    width: 262px;
    padding: 15px 35px;
    font-size: 24px;
  }
}

#skills {
  position: relative;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  #skills {
    margin-bottom: 100px;
  }
}

#skills .poster {
  position: absolute;
  top: 0;
  right: 0;
}

#skills .skills-text {
  padding-top: 60px;
}

@media (min-width: 768px) {
  #skills .skills-text {
    padding-top: 124px;
  }
}

#skills p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  color: #3E3E3E;
}

#skills .skills-grid {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1px 20px;
}

#skills .skills-grid P {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  color: #3E3E3E;
}

@media (min-width: 768px) {
  #skills .skills-grid {
    padding: 0 !important;
  }
}

#skills .skills-grid .skills-item {
  width: 267px;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #5132C0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (max-width: 300px) {
  #skills .skills-grid .skills-item {
    width: 100%;
    min-height: 320px;
  }
}

@media (min-width: 576px) {
  #skills .skills-grid .skills-item {
    width: 257px;
  }
}

@media (min-width: 768px) {
  #skills .skills-grid .skills-item {
    width: 267px;
  }
}

#skills .skills-grid .skills-item h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #3E3E3E;
}

#skills .skills-grid .skills-item p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  height: 100px;
  color: #3E3E3E;
}

#projects {
  margin-bottom: 50px;
  position: relative;
}

@media (min-width: 768px) {
  #projects {
    margin-bottom: 100px;
  }
}

#projects .poster {
  position: absolute;
  top: 0;
  left: 0;
}

#projects .projects-row {
  padding-top: 70px;
}

@media (min-width: 768px) {
  #projects .projects-row {
    padding-top: 10px;
  }
}

#projects .projects-row .row {
  margin-bottom: 100px !important;
}

@media (min-width: 768px) {
  #projects .projects-row .row .projects-text-one {
    margin-top: 130px !important;
  }
}

@media (min-width: 992px) {
  #projects .projects-row .row .slide1 {
    padding-top: 60px !important;
  }
}

@media (min-width: 768px) {
  #projects .projects-row .row .projects-slide {
    padding-top: 170px !important;
  }
}

@media (min-width: 992px) {
  #projects .projects-row .row .projects-slide {
    padding-top: 40px !important;
  }
}

#projects .projects-row .row .projects-slide .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .projects-row .row .projects-slide .item .img1 {
  width: 70%;
}

@media (min-width: 768px) {
  #projects .projects-row .row .projects-slide .item .img1 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #projects .projects-row .row .projects-slide .item .img1 {
    width: 80%;
  }
}

#projects .projects-row .row .projects-slide .item .img2 {
  width: 60%;
}

@media (min-width: 768px) {
  #projects .projects-row .row .projects-slide .item .img2 {
    width: 70%;
  }
}

@media (min-width: 992px) {
  #projects .projects-row .row .projects-slide .item .img2 {
    width: 60%;
  }
}

#projects .projects-row .row .projects-slide .item .img3 {
  width: 100%;
}

@media (max-width: 576px) {
  #projects .projects-row .row .projects-slide .item .img3 {
    height: auto;
  }
}

#projects .projects-row .row .projects-text {
  width: 100%;
}

@media (min-width: 768px) {
  #projects .projects-row .row .projects-text {
    margin-top: 60px;
  }
}

#projects .projects-row .row .projects-text h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}

#projects .projects-row .row .projects-text h5 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #3E3E3E;
}

#contact {
  position: relative;
}

#contact .poster {
  position: absolute;
  top: 0;
  right: 0;
}

#contact .contact-box {
  padding-top: 50px;
}

@media (min-width: 768px) {
  #contact .contact-box {
    padding-top: 130px;
  }
}

#contact .contact-box h5 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #3E3E3E;
}

@media (min-width: 768px) {
  #contact .contact-box h5 {
    margin: 0;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #3E3E3E;
  }
}

.owl-dot .active span {
  margin: -5px 7px !important;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #FFFFFF !important;
  border: 1px solid #5132C0;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #5132C0 !important;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: #dddcdc !important;
}

.slide1 .owl-dot span {
  margin: -25px 7px !important;
  z-index: 100 !important;
}
/*# sourceMappingURL=index.css.map */